/* chat */

.col-sm-1.order-sm-1.offset-sm-0 {
  /* padding-right: 0; */
}

.col-sm-1.order-sm-2.offset-sm-0 {
  padding-left: 0;
  padding-right: 25;
}

.sent_msg.col-sm-6.order-sm-1.offset-sm-5 {
  /* margin-right: 2px; */
}

.received_withd_msg .card-body {
  /* background: #ebebeb none repeat scroll 0 0; */
  /* border: none; */
  /* border: solid black 0px; */
  /* border-radius: 3px; */
  color: #646464;
  /* font-size: 14px; */
  /* margin: 0; */
  padding: 5px 10px 5px 12px;
  /* width: 100%; */
}


.card-footer.time_date {
  color: #747474;
  background: #fff;
  display: block;
  padding-left: 0;
  padding-top: .2em;
  border: none;
  /* border-style: none; */
  font-size: 12px;
  /* margin: 8px 0 0; */
}

.mesgs {
  /* float: left; */
  /* padding: 30px 15px 0 25px; */
  padding: 0px 15px 0 25px;
  margin-top: -10px;
  /* width: 60%; */
  width: 100%;
}

.message.card-body {
  border-radius: 10px;
}

.sent_msg .card-body {
  /* background: #05728f none repeat scroll 0 0; */
  /* border-radius: 3px; */
  /* font-size: 14px; */
  /* margin: 0;  */
  color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}


.msg_send_btn {
  /* background: #05728f none repeat scroll 0 0; */
  /* background: #05728f; */
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  /* border: medium none; */
  /* border-radius: 50%; */
  color: #fff;
  cursor: pointer;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  /* height: 516px; */
  height: 516px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -0.5rem;
  /* overflow: hidden; */
  /* overflow: auto; */
  margin-top: 1rem;
}

.msg_history > .row {
  margin-right: .3rem;
}
